.black{
    background-color: black;
    color: white;
    padding: 10px;
}
.black a{
    text-decoration: none;
    background-color: orangered;
    display: inline-block;
    color: white;
    padding: 10px;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.contact-form{
    margin-top:20px;
}

.contact-form_input,.contact-formtextarea,.contact-form_submit{
    margin-top:10px;
}

.contact-form__input{
    padding:10px;
    border:none;
    border-bottom: 1px solid black;
}

.contact-form__textarea{
    padding:10px;
    border:none;
    border-bottom: 1px solid black;
}

.contact-form__submit{
    background-color: #FF4500;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left:20px;
    border:none;
}

.contact-form__submit:hover{
    cursor: pointer;
}
.section-five{
    background-color: black;
    color: white;
    padding: 10px;
}
